### Python template
# Byte-compiled/optimized/DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution/packaging
build/
dist/

# Installer logs
pip-log.txt

# Django stuff
staticfiles/

# pyenv
.python-version

# Environments
env/
.venv/

### VisualStudioCode template
.vscode/*

### macOS template
*.DS_Store
._*

### Project template
# Hidden environment values
k8s/configmap_*.yaml
prod.env

# Temporary files
tmp/
*.log