#
#  See the NOTICE file distributed with this work for additional information
#  regarding copyright ownership.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#  http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#


openapi: 3.0.3
info:
  title: Ensembl Track API
  description: REST interface for managing track metadata in Ensembl Beta.
  contact:
    email: ensembl-webteam@ebi.ac.uk
  version: 0.2.0
servers:
  - url: http://beta.ensembl.org/api/tracks
    description: Production server
paths:
  /track_categories/{genome_id}:
    get:
      summary: Returns all track categories (and tracks) for a given genome at a specific release.
      description: >
        Returns tracks filtered by release date and browser type. 
        Automatically deduplicates tracks with overlapping specifications, 
        keeping only the most recent version of each track type.
      parameters:
        - name: genome_id
          in: path
          required: true
          description: Stable genome ID.
          schema:
            type: string
            format: uuid
          example: a7335667-93e7-11ec-a39d-005056b38ce3
        - name: browser
          in: query
          required: false
          description: Browser type to filter tracks
          schema:
            type: string
            enum:
              - GenomeBrowser
              - StructuralVariant
            default: GenomeBrowser
          example: GenomeBrowser
        - name: release
          in: query
          required: false
          description: >
            Release label (YYYY-MM-DD format) to retrieve tracks up to this date.
            If not provided, returns tracks from the most recent release.
          schema:
            type: string
            pattern: '^\d{4}-\d{2}-\d{2}$'
          example: "2024-03-15"
      responses:
        '200':
          description: Successful request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackCategories'
        '400':
          description: Invalid browser parameter.
        '404':
          description: No tracks or releases found for this genome.
    delete:
      summary: Deletes all tracks/track categories for a given genome.
      parameters:
        - name: genome_id
          in: path
          required: true
          description: Stable genome ID.
          schema:
            type: string
            format: uuid
          example: a7335667-93e7-11ec-a39d-005056b38ce3
      responses:
        '204':
          description: Tracks successfully removed.
        '404':
          description: Specified genome ID was not found.

  /track/{track_id}:
    get:
      summary: Returns data about a single track (tailored for genome browser).
      description: >
        Returns track data for a specific browser type. The track must have
        a configuration for the requested browser.
      parameters:
        - name: track_id
          in: path
          required: true
          description: Track ID
          schema:
            type: string
            format: uuid
          example: d0df738a-0ecb-4b1e-8576-a5621a4b15d2
        - name: spec
          in: path
          required: true
          description: Specification ID
          schema:
            type: string
          example: transcripts-gene-pc-fwd
        - name: browser
          in: query
          required: false
          description: Browser type to retrieve track configuration for
          schema:
            type: string
            enum:
              - GenomeBrowser
              - StructuralVariant
            default: GenomeBrowser
          example: GenomeBrowser
      responses:
        '200':
          description: Successful request.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Track'
                  - $ref: '#/components/schemas/TrackDatafiles'
        '400':
          description: Invalid browser parameter.
        '404':
          description: Track not found or has no configuration for requested browser.
    delete:
      summary: Deletes a single track.
      parameters:
        - name: track_id
          in: path
          required: true
          description: Track ID
          schema:
            type: string
            format: uuid
          example: d0df738a-0ecb-4b1e-8576-a5621a4b15d2
      responses:
        '204':
          description: Track successfully deleted.
        '404':
          description: Specified track ID was not found.

  /tracks/create:
    post:
      summary: Creates a new track with associated track types.
      description: >
        Creates a track by providing dataset/genome UUIDs, datafiles, and track types.
        All specified track types must have matching file lists.
      requestBody:
        description: Data for the new track.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTrackRequest'
      responses:
        '201':
          description: Track was successfully created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  track_id:
                    description: UUID of the created track.
                    type: string
                    format: uuid
                    example: d0df738a-0ecb-4b1e-8576-a5621a4b15d2
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Validation failed
                  details:
                    type: object
                    example:
                      track_types: ["Type(s) not found: invalid-type"]

  /tracks/link_type:
    post:
      summary: Links an additional track type to an existing track.
      description: >
        Associates an additional track type with an existing track.
        The new type's file list must match the track's existing types.
      requestBody:
        description: Track and type to link.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkTypeRequest'
      responses:
        '200':
          description: Type successfully linked to track.
          content:
            application/json:
              schema:
                type: object
                properties:
                  track_id:
                    type: string
                    format: uuid
                    example: d0df738a-0ecb-4b1e-8576-a5621a4b15d2
                  message:
                    type: string
                    example: Type linked successfully
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Validation failed
                  details:
                    type: object
                    example:
                      type_name: ["Type files do not match track's existing types"]

components:
  schemas:
    TrackCategories:
      type: object
      properties:
        track_categories:
          type: array
          items:
            $ref: '#/components/schemas/TrackCategoryWithTracks'

    TrackCategory:
      type: object
      properties:
        track_category_id:
          type: string
          example: genes-transcripts
        label:
          type: string
          example: Genes & transcripts
        type:
          type: string
          enum:
            - Genomic
            - Variation
            - Regulation

    TrackList:
      type: object
      properties:
        track_list:
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/Track'
              - $ref: '#/components/schemas/TrackDescription'

    TrackCategoryWithTracks:
      allOf:
        - $ref: '#/components/schemas/TrackCategory'
        - $ref: '#/components/schemas/TrackList'

    Track:
      type: object
      properties:
        track_id:
          type: string
          format: uuid
          readOnly: true
          example: d0df738a-0ecb-4b1e-8576-a5621a4b15d2
        trigger:
          type: array
          items:
            type: string
          example: ['track', 'gene-pc-fwd']
        type:
          type: string
          enum:
            - gene
            - variant
            - regular
        label:
          type: string
          example: Protein coding genes
        additional_info:
          type: string
          example: Forward strand
        display_order:
          type: number
          example: 2
        on_by_default:
          type: boolean
          example: true

    TrackDatafiles:
      type: object
      properties:
        datafiles:
          type: object
          additionalProperties:
            type: string
          example:
            details: variant-dbsnp-details.bb
            summary: variant-dbsnp-summary.bw
        settings:
          type: object
          description: Browser-specific display settings
          example:
            variant-details:
              switches:
                - label-snv-id
                - show-extents

    TrackDescription:
      type: object
      properties:
        description:
          type: string
          example: |-
            Shows all protein coding genes on the forward strand.
            Part of the GENCODE Comprehensive gene set
        sources:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                example: GENCODE
              url:
                type: string
                example: https://gencodegenes.org

    CreateTrackRequest:
      type: object
      required:
        - dataset_id
        - genome_id
        - datafiles
        - track_types
      properties:
        dataset_id:
          type: string
          format: uuid
          description: UUID of the dataset this track belongs to
          example: 550e8400-e29b-41d4-a716-446655440000
        genome_id:
          type: string
          format: uuid
          description: UUID of the genome this track is associated with
          example: a7335667-93e7-11ec-a39d-005056b38ce3
        datafiles:
          type: array
          minItems: 1
          maxItems: 2
          items:
            type: string
          description: >
            List of 1-2 file paths. If only one file provided, the second
            datafile slot will be filled with an empty string.
          example: ["repeats.repeatdetector.bb"]
        track_types:
          type: array
          minItems: 1
          items:
            type: string
          description: >
            List of Type names to associate with this track.
            All types must have the same file list.
          example: ["repeat-genomebrowser", "repeat-structuralvariant"]

    LinkTypeRequest:
      type: object
      required:
        - track_id
        - type_name
      properties:
        track_id:
          type: string
          format: uuid
          description: UUID of the track to link the type to
          example: d0df738a-0ecb-4b1e-8576-a5621a4b15d2
        type_name:
          type: string
          description: Name of the Type to link (must have matching file list)
          example: repeat-structuralvariant